/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Copy {
            bindings = <&none>;
            key-positions = <53 44>;
        };

        Paste {
            bindings = <&none>;
            key-positions = <45 54>;
        };
    };

    macros {
        sid: sid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp I &kp D &kp FSLH &kp LC(V)>;
            label = "SID";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(G) &kp O &kp O &kp D &kp SPACE &kp M &kp O &kp R &kp N &kp I &kp N &kp G &kp COMMA &kp RET &kp LS(T) &kp H &kp I &kp S &kp SPACE &kp R &kp E &kp C &kp O &kp R &kp D &kp SPACE &kp H &kp A &kp S &kp SPACE &kp B &kp E &kp E &kp N &kp SPACE &kp R &kp E &kp M &kp O &kp V &kp E &kp D &kp DOT &kp RET &kp LC(V)>;
            label = "EMAIL";
        };

        cycle: cycle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp LS(J) &kp LS(I) &kp LS(S) &kp SPACE &kp LS(C) &kp LS(Y) &kp LS(C) &kp LS(L) &kp LS(E) &kp SPACE &kp LS(P) &kp LS(U) &kp LS(R) &kp LS(G) &kp LS(E)>;
            label = "CYCLE";
        };

        whole: whole {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp LS(J) &kp LS(I) &kp LS(S) &kp SPACE &kp LS(W) &kp LS(H) &kp LS(O) &kp LS(L) &kp LS(E) &kp SPACE &kp LS(P) &kp LS(U) &kp LS(R) &kp LS(G) &kp LS(E)>;
            label = "WHOLE";
        };
    };

    keymap {
        compatible = "zmk,keymap";
        rows = <3>;
        columns = <3>;
        Base {
            // --------------------
            // | ESC |  1  |  2   |
            // | TAB  |  Q  |  W  |
            // | CAPS  |  A  |  S |
            // --------------------

            bindings = <
&email  &cycle  &whole  &kp BSPC  &kp TAB  &kp ENTER  &sid  &kp LC(C)  &kp LC(V)
            >;
        };

        >;
    };
};

};
